# Set up

In [7]:
import json
import pandas as pd
from footbot.data import utils

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# Getting data

In [3]:
with open('./data/top_50_weekly_data.json') as f: # Use file to refer to the file object
    d = json.load(f)

In [8]:
picks_df = pd.DataFrame([j for sl in [i['picks'] for i in d] for j in sl])[
    [
        'entry',
        'event',
        'element',
        'position',
        'multiplier',
        'is_captain',
        'is_vice_captain',
    ]
]

In [14]:
utils.write_to_table(
    'fpl',
    'top_entries_picks_1819',
    picks_df,
    secrets_path='../secrets/service_account.json',
    csvs_path='../csvs/',
)

In [30]:
chips_df = pd.DataFrame([
    {
        'entry': i['entry_history']['id'],
        'event': i['event']['id'],
        'active_chip': i['active_chip'],
    } for i in d
])

In [31]:
utils.write_to_table(
    'fpl',
    'top_entries_chips_1819',
    chips_df,
    secrets_path='../secrets/service_account.json',
    csvs_path='../csvs/',
)

      entry  event active_chip
0    107827      1
1   4664139      2
2   9773353      3
3  15147223      4
4  20652163      5