In [7]:
from footbot.data.utils import get_safe_web_name
import datetime
import pandas as pd
import requests

In [19]:
pd.set_option('display.max_columns', 500)

In [8]:
def update_dict_with_element(d, i):
    d['element'] = i
    return d

In [9]:
bootstrap_request = requests.get('https://fantasy.premierleague.com/api/bootstrap-static/')
bootstrap_data = bootstrap_request.json()

max_element = max([i['id'] for i in bootstrap_data['elements']])

element_history_past_arr = []
element_history_arr = []
element_fixtures_arr = []

for i in range(1, max_element + 1):
    try:
        element_request = requests.get(f'https://fantasy.premierleague.com/api/element-summary/{i}/')
        element_data = element_request.json()

        element_history_past_arr.extend(
            [update_dict_with_element(k, i) for k in element_data['history_past']])

        element_history_arr.extend(element_data['history'])

        element_fixtures_arr.extend(
            [update_dict_with_element(k, i) for k in element_data['fixtures']])
    except:
        continue

In [10]:
element_history_past_df = pd.DataFrame(element_history_past_arr)
element_history_past_df = element_history_past_df[
    ['element']
    + list(element_history_past_df.columns)[:-1]
]
element_history_past_df

,element,season_name,element_code,start_cost,end_cost,total_points,minutes,goals_scored,assists,clean_sheets,...,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index
0,1,2016/17,69140,60,58,90,2274,2,2,8,...,0,11,0,0,8,513,598.2,159.7,364.0,112.4
1,1,2017/18,69140,55,54,109,2272,3,1,10,...,0,6,0,0,13,610,836.6,129.9,202.0,117.0
2,1,2018/19,69140,55,54,80,2611,2,0,6,...,0,9,0,0,5,475,718.6,106.0,252.0,107.8
3,2,2013/14,98745,45,45,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
4,2,2014/15,98745,45,48,77,1563,2,1,7,...,0,5,0,0,5,372,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,527,2016/17,168566,70,68,8,54,0,0,0,...,0,0,0,0,0,25,17.0,7.7,26.0,5.2
1516,527,2017/18,168566,55,53,11,223,0,0,1,...,0,1,0,0,0,21,26.0,49.3,41.0,11.2
1517,527,2018/19,168566,50,48,4,4,0,1,0,...,0,0,0,0,0,17,19.0,14.3,0.0,3.3
1518,529,2015/16,194794,40,40,1,31,0,0,0,...,0,0,0,0,0,4,0.0,0.0,0.0,0.0
1519,529,2017/18,194794,45,45,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0

In [11]:
element_history_df = pd.DataFrame(element_history_arr)
element_history_df.columns = ['event' if i == 'round' else i for i in element_history_df.columns]
element_history_df

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,event,minutes,...,bps,influence,creativity,threat,ict_index,value,transfers_balance,selected,transfers_in,transfers_out
0,1,10,13,0,False,2019-08-11T13:00:00Z,0,1,1,0,...,0,0.0,0.0,0.0,0.0,55,0,33117,0,0
1,1,11,5,0,True,2019-08-17T11:30:00Z,2,1,2,0,...,0,0.0,0.0,0.0,0.0,55,-5280,36709,2868,8148
2,1,24,10,0,False,2019-08-24T16:30:00Z,3,1,3,0,...,0,0.0,0.0,0.0,0.0,54,-6882,30975,534,7416
3,1,31,17,0,True,2019-09-01T15:30:00Z,2,2,4,0,...,0,0.0,0.0,0.0,0.0,54,-3872,28096,346,4218
4,2,10,13,0,False,2019-08-11T13:00:00Z,0,1,1,0,...,0,0.0,0.0,0.0,0.0,55,0,7979,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111,532,23,4,6,False,2019-08-24T14:00:00Z,0,2,3,90,...,24,12.4,1.6,0.0,1.4,45,77,353,99,22
2112,532,39,12,2,True,2019-08-31T11:30:00Z,1,1,4,72,...,6,17.4,12.3,0.0,3.0,45,1019,2205,1390,371
2113,533,33,15,1,True,2019-08-31T14:00:00Z,2,2,4,6,...,1,0.4,0.8,0.0,0.1,45,0,0,0,0
2114,534,37,11,1,False,2019-08-31T14:00:00Z,4,0,4,24,...,1,0.2,0.1,0.0,0.0,45,0,0,0,0
2115,535,39,12,0,True,2019-08-31T11:30:00Z,1,1,4,0,...,0,0.0,0.0,0.0,0.0,45,0,0,0,0

In [12]:
element_fixtures_df = pd.DataFrame(element_fixtures_arr)
element_fixtures_df = element_fixtures_df[
    ['element']
    + list(element_fixtures_df.columns)[:-1]
]
element_fixtures_df

,element,code,team_h,team_h_score,team_a,team_a_score,event,finished,minutes,provisional_start_time,kickoff_time,event_name,is_home,difficulty
0,1,1059750,18,None,1,None,5,False,0,False,2019-09-15T15:30:00Z,Gameweek 5,False,3
1,1,1059752,1,None,2,None,6,False,0,False,2019-09-22T15:30:00Z,Gameweek 6,True,2
2,1,1059768,12,None,1,None,7,False,0,False,2019-09-30T19:00:00Z,Gameweek 7,False,4
3,1,1059772,1,None,3,None,8,False,0,False,2019-10-06T15:30:00Z,Gameweek 8,True,2
4,1,1059789,15,None,1,None,9,False,0,False,2019-10-21T19:00:00Z,Gameweek 9,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18083,535,1060037,8,None,16,None,34,False,0,False,2020-04-18T14:00:00Z,Gameweek 34,False,4
18084,535,1060046,12,None,16,None,35,False,0,False,2020-04-25T14:00:00Z,Gameweek 35,False,4
18085,535,1060060,16,None,4,None,36,False,0,False,2020-05-02T14:00:00Z,Gameweek 36,True,2
18086,535,1060062,3,None,16,None,37,False,0,False,2020-05-09T14:00:00Z,Gameweek 37,False,3
18087,535,1060080,16,None,15,None,38,False,0,False,2020-05-17T14:00:00Z,Gameweek 38,True,2

In [15]:
element_gameweeks_1819_raw_df = pd.read_csv('element_gameweeks_1819_raw.csv', index_col=0)

In [17]:
list(element_gameweeks_1819_raw_df.columns)

['row_id',
 'assists',
 'attempted_passes',
 'big_chances_created',
 'big_chances_missed',
 'bonus',
 'bps',
 'clean_sheets',
 'clearances_blocks_interceptions',
 'completed_passes',
 'creativity',
 'dribbles',
 'ea_index',
 'element',
 'errors_leading_to_goal',
 'errors_leading_to_goal_attempt',
 'fixture',
 'fouls',
 'goals_conceded',
 'goals_scored',
 'ict_index',
 'id',
 'influence',
 'key_passes',
 'kickoff_time',
 'kickoff_time_formatted',
 'loaned_in',
 'loaned_out',
 'minutes',
 'offside',
 'open_play_crosses',
 'opponent_team',
 'own_goals',
 'penalties_conceded',
 'penalties_missed',
 'penalties_saved',
 'recoveries',
 'red_cards',
 'round',
 'saves',
 'selected',
 'tackled',
 'tackles',
 'target_missed',
 'team_a_score',
 'team_h_score',
 'threat',
 'total_points',
 'transfers_balance',
 'transfers_in',
 'transfers_out',
 'value',
 'was_home',
 'winning_goals',
 'yellow_cards',
 'event',
 'team_a',
 'team_a_difficulty',
 'team_h',
 'team_h_difficulty',
 'element_type',
 'team',
 'web_name',
 'safe_web_name',
 'own_team',
 'opposition_team']

In [22]:
element_gameweeks_1819_df = element_gameweeks_1819_raw_df[[
    'element',
    'fixture',
    'opponent_team',
    'total_points',
    'was_home',
    'kickoff_time',
    'team_h_score',
    'team_a_score',
    'event',
    'minutes',
    'goals_scored',
    'assists',
    'clean_sheets',
    'goals_conceded',
    'own_goals',
    'penalties_saved',
    'penalties_missed',
    'yellow_cards',
    'red_cards',
    'saves',
    'bonus',
    'bps',
    'influence',
    'creativity',
    'threat',
    'ict_index',
    'value',
    'transfers_balance',
    'selected',
    'transfers_in',
    'transfers_out',
    
    'attempted_passes',
    'big_chances_created',
    'big_chances_missed',
    'clearances_blocks_interceptions',
    'completed_passes',
    'dribbles',
    'errors_leading_to_goal',
    'errors_leading_to_goal_attempt',
    'fouls',
    'key_passes',
    'offside',
    'open_play_crosses',
    'penalties_conceded',
    'recoveries',
    'tackled',
    'tackles',
    'target_missed',
    'winning_goals',
]]

In [23]:
element_gameweeks_1819_df.to_csv('element_gameweeks_1819.csv', index=False)

In [51]:
element_gameweeks_1819_raw_df[element_gameweeks_1819_raw_df['team'] == 19][
     ['element',
    'safe_web_name']
].drop_duplicates().head(8)

       element safe_web_name
19533      399        adrian
19571      400     fabianski
19609      401          reid
19647      402     cresswell
19685      403       ogbonna
19723      404         byram
19761      405      zabaleta
19799      406          rice

In [53]:
teams = {
    1: 'arsenal',
    2: 'bournemouth',
    3: 'brighton',
    4: 'burnley',
    5: 'cardiff',
    6: 'chelsea',
    7: 'crystal palace',
    8: 'everton',
    9: 'fulham',
    10: 'huddersfield',
    11: 'leicester',
    12: 'liverpool',
    13: 'man city',
    14: 'man utd',
    15: 'newcastle',
    16: 'southampton',
    17: 'spurs',
    18: 'watford',
    19: 'west ham',
    20: 'wolves',
    
}

In [56]:
elements_1819_df = element_gameweeks_1819_raw_df[[
    'element',
    'safe_web_name',
    'element_type',
    'team'
]].drop_duplicates()

elements_1819_df['safe_team_name'] = elements_1819_df['team'].apply(lambda x: teams[x])

elements_1819_df.to_csv('elements_1819.csv', index=False)