# Set up

In [2]:
import pandas as pd
from footbot.data import utils
import os

In [3]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)

In [2]:
cols = [
    'element',
'fixture',
'opponent_team',
'total_points',
'was_home',
'kickoff_time',
'team_h_score',
'team_a_score',
'event',
'minutes',
'goals_scored',
'assists',
'clean_sheets',
'goals_conceded',
'own_goals',
'penalties_saved',
'penalties_missed',
'yellow_cards',
'red_cards',
'saves',
'bonus',
'bps',
'influence',
'creativity',
'threat',
'ict_index',
'value',
'transfers_balance',
'selected',
'transfers_in',
'transfers_out',
'attempted_passes',
'big_chances_created',
'big_chances_missed',
'clearances_blocks_interceptions',
'completed_passes',
'dribbles',
'errors_leading_to_goal',
'errors_leading_to_goal_attempt',
'fouls',
'key_passes',
'offside',
'open_play_crosses',
'penalties_conceded',
'recoveries',
'tackled',
'tackles',
'target_missed',
'winning_goals'
]

In [74]:
previous_season_cols = [
    'element',
    'season_name',
    'element_code',
    'start_cost',
    'end_cost',
    'total_points',
    'minutes',
    'goals_scored',
    'assists',
    'clean_sheets',
    'goals_conceded',
    'own_goals',
    'penalties_saved',
    'penalties_missed',
    'yellow_cards',
    'red_cards',
    'saves',
    'bonus',
    'bps',
    'influence',
    'creativity',
    'threat',
    'ict_index',
]

In [7]:
teams_1617 = {
    1: 'arsenal',
    2: 'bournemouth',
    3: 'burnley',
    4: 'chelsea',
    5: 'crystal palace',
    6: 'everton',
    7: 'hull',
    8: 'leicester',
    9: 'liverpool',
    10: 'man city',
    11: 'man utd',
    12: 'middlesborough',
    13: 'southampton',
    14: 'stoke',
    15: 'sunderland',
    16: 'swansea',
    17: 'spurs',
    18: 'watford',
    19: 'west brom',
    20: 'west ham',
    
}

In [8]:
teams_1718 = {
    1: 'arsenal',
    2: 'bournemouth',
    3: 'brighton',
    4: 'burnley',
    5: 'chelsea',
    6: 'crystal palace',
    7: 'everton',
    8: 'huddersfield',
    9: 'leicester',
    10: 'liverpool',
    11: 'man city',
    12: 'man utd',
    13: 'newcastle',
    14: 'southampton',
    15: 'stoke',
    16: 'swansea',
    17: 'spurs',
    18: 'watford',
    19: 'west brom',
    20: 'west ham',
    
}

In [9]:
teams_1819 = {
    1: 'arsenal',
    2: 'bournemouth',
    3: 'brighton',
    4: 'burnley',
    5: 'cardiff',
    6: 'chelsea',
    7: 'crystal palace',
    8: 'everton',
    9: 'fulham',
    10: 'huddersfield',
    11: 'leicester',
    12: 'liverpool',
    13: 'man city',
    14: 'man utd',
    15: 'newcastle',
    16: 'southampton',
    17: 'spurs',
    18: 'watford',
    19: 'west ham',
    20: 'wolves',
}

# 2016/17

## Gameweeks

In [80]:
element_gameweek_1617_df_arr = []

for i in range(1, 39):
    file_name = f'./data/1617/gws/gws/gw{i}.csv'
    element_gameweek_1617_df_arr.append(pd.read_csv(file_name, encoding='ISO-8859-1'))
    
element_gameweek_1617_df = pd.concat(element_gameweek_1617_df_arr)

element_gameweek_1617_df['event'] = element_gameweek_1617_df['round']

element_gameweek_1617_df[cols].to_csv('element_gameweeks_1617.csv', index=False)

In [11]:
utils.write_to_table(
    'fpl',
    'element_gameweeks_1617',
    element_gameweek_1617_df[cols],
    secrets_path='../secrets/service_account.json',
    csvs_path='../csvs/'
)

## Elements

In [65]:
element_1617_df = pd.read_csv('./data/1617/players_raw.csv')

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,dreamteam_count,ea_index,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,id,in_dreamteam,influence,loaned_in,loaned_out,loans_in,loans_out,minutes,news,now_cost,own_goals,penalties_missed,penalties_saved,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,squad_number,status,team,team_code,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,0,0,18,100,100,0,48844,0,0,-3,3,0.0,0,56,1,0.0,0.0,0,David,0.0,4,0,2.9,1,False,28.8,0,0,0,0,143,NaN,47,0,0,0,48844.jpg,1.0,0,4,Ospina,0.2,False,13,a,1,3,0.0,2,3433,0,7905,0,0.0,0.4,Ospina,0
1,0,2,660,100,100,12,11334,0,0,-1,1,0.1,0,409,1,6.0,0.0,4,Petr,0.0,37,0,82.0,2,False,819.8,0,0,0,0,3097,NaN,54,1,0,0,11334.jpg,3.8,0,115,Cech,13.7,False,33,a,1,3,0.0,134,432837,0,590727,0,0.0,24.8,Cech,2
2,1,19,723,0,75,10,51507,0,0,1,-1,53.9,3,493,2,1.7,0.0,-2,Laurent,0.0,37,2,112.7,3,False,831.2,0,0,0,0,2821,Suspended - unknown return date,61,0,0,0,51507.jpg,3.7,1,0,Koscielny,11.2,False,6,s,1,3,239.0,121,965040,0,857277,0,0.0,19.8,Koscielny,4
3,0,0,5,100,100,0,17127,0,0,-2,2,0.1,0,265,2,0.0,0.0,1,Per,0.0,1,0,1.8,4,False,17.8,0,0,0,0,38,NaN,48,0,0,0,17127.jpg,1.0,0,0,Mertesacker,0.2,False,4,a,1,3,0.0,1,2141,0,5912,0,0.0,0.2,Mertesacker,0
4,0,2,296,75,100,5,158074,0,0,-2,2,84.5,0,244,2,1.0,0.0,0,Gabriel Armando,0.0,18,0,50.0,5,False,295.8,0,0,0,0,1517,Knee injury - 75% chance of playing,48,0,0,0,158074.jpg,2.4,0,0,de Abreu,0.8,False,5,d,1,3,119.0,45,119600,0,100361,0,0.0,9.4,Gabriel,6

In [67]:
element_1617_df['element'] = element_1617_df['id']
element_1617_df['safe_web_name'] = element_1617_df['web_name'].apply(utils.get_safe_web_name)
element_1617_df['safe_team_name'] = element_1617_df['team'].apply(lambda x: teams_1617[x])

element_1617_df = element_1617_df[[
    'element',
    'safe_web_name',
    'element_type',
    'team',
    'safe_team_name',
    'first_name',
    'second_name'
]]

element_1617_df.head()

,element,safe_web_name,element_type,team,safe_team_name,first_name,second_name
0,1,ospina,1,1,arsenal,David,Ospina
1,2,cech,1,1,arsenal,Petr,Cech
2,3,koscielny,2,1,arsenal,Laurent,Koscielny
3,4,mertesacker,2,1,arsenal,Per,Mertesacker
4,5,gabriel,2,1,arsenal,Gabriel Armando,de Abreu

In [68]:
utils.write_to_table(
    'fpl',
    'elements_1617',
    element_1617_df,
    secrets_path='../secrets/service_account.json',
    csvs_path='../csvs/',
    write_disposition='WRITE_TRUNCATE'
)

## Previous seasons

In [88]:
previous_season_1617_df_arr = []

for i in os.listdir('./data/1617/players/'):
    first_name = i.split('_')[0]
    second_name = i.split('_')[1]
    try:
        df = pd.read_csv(f'./data/1617/players/{i}/history.csv')
        df['first_name'] = first_name
        df['second_name'] = second_name
        previous_season_1617_df_arr.append(df)
    except:
        print(first_name, second_name)

In [89]:
previous_season_1617_df = pd.concat(previous_season_1617_df_arr)

previous_season_1617_df = previous_season_1617_df.join(
    element_1617_df.set_index(['first_name', 'second_name']),
    on=['first_name', 'second_name'],
    how='inner'
)

previous_season_1617_df = previous_season_1617_df[previous_season_cols]
previous_season_1617_df.head()

,element,season_name,element_code,start_cost,end_cost,total_points,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index
0,54,2006/07,21205,48,48,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,54,2007/08,21205,40,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,54,2014/15,21205,45,47,150,3420,0,0,10,53,0,2,0,1,0,127,11,615,0.0,0.0,0.0,0.0
3,54,2016/17,21205,45,51,149,3150,0,0,10,48,0,1,0,1,0,142,21,741,1001.6,30.3,0.0,103.2
0,401,2013/14,106450,45,45,1,8,0,0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0

In [90]:
utils.write_to_table(
    'fpl',
    'element_previous_seasons_1617',
    previous_season_1617_df,
    secrets_path='../secrets/service_account.json',
    csvs_path='../csvs/',
    write_disposition='WRITE_TRUNCATE'
)

# 2017/18

## Gameweeks

In [81]:
element_gameweek_1718_df_arr = []

for i in range(1, 39):
    file_name = f'./data/1718/gws/gws/gw{i}.csv'
    element_gameweek_1718_df_arr.append(pd.read_csv(file_name, encoding='ISO-8859-1'))
    
element_gameweek_1718_df = pd.concat(element_gameweek_1718_df_arr)

element_gameweek_1718_df['event'] = element_gameweek_1718_df['round']

element_gameweek_1718_df[cols].to_csv('element_gameweeks_1718.csv', index=False)

In [11]:
utils.write_to_table(
    'fpl',
    'element_gameweeks_1718',
    element_gameweek_1718_df[cols],
    secrets_path='../secrets/service_account.json',
    csvs_path='../csvs/'
)

## Elements

In [5]:
element_1718_df = pd.read_csv('../data/1718/players_raw.csv')

In [10]:
element_1718_df['element'] = element_1718_df['id']
element_1718_df['safe_web_name'] = element_1718_df['web_name'].apply(utils.get_safe_web_name)
element_1718_df['safe_team_name'] = element_1718_df['team'].apply(lambda x: teams_1718[x])

element_1718_df = element_1718_df[[
    'element',
    'safe_web_name',
    'element_type',
    'team',
    'safe_team_name',
    'first_name',
    'second_name'
]]

element_1718_df.head()

,element,safe_web_name,element_type,team,safe_team_name,first_name,second_name
0,1,ospina,1,1,arsenal,David,Ospina
1,2,cech,1,1,arsenal,Petr,Cech
2,3,martinez,1,1,arsenal,Damian Emiliano,Martinez
3,4,koscielny,2,1,arsenal,Laurent,Koscielny
4,5,mertesacker,2,1,arsenal,Per,Mertesacker

In [12]:
utils.write_to_table(
    'fpl',
    'elements_1718',
    element_1718_df,
    secrets_path='../../secrets/service_account.json',
    csvs_path='../../csvs/',
    write_disposition='WRITE_TRUNCATE'
)

## Previous seasons

In [95]:
previous_season_1718_df_arr = []

for i in os.listdir('./data/1718/players/'):
    first_name = i.split('_')[0]
    second_name = i.split('_')[1]
    try:
        df = pd.read_csv(f'./data/1718/players/{i}/history.csv')
        df['first_name'] = first_name
        df['second_name'] = second_name
        previous_season_1718_df_arr.append(df)
    except:
        print(first_name, second_name)

Adam Legzdins
Orestis Karnezis
Markus Suttner
Oliver Norwood
Konstantinos Mavropanos
Chris Löwe
Charlie Taylor
Adrien Sebastian Perruchet Silva
Sam Hughes
Elias Kachunga
Dwight McNeil
Cenk Tosun
Nya Kirby
Michael Obafemi
Davy Pröpper
Davide Zappacosta
Mikel Merino
Joe Lolley
Papa Alioune Ndiaye
Rajiv van La Parra
Dodi Lukebakio
Jayson Molumby
Jordi Osei-Tutu
Fousseni Diabaté
Mathias Jorgensen
Eric Maxim Choupo-Moting
Harry Bunn
Benjamin Mendy
Renato Sanches
Kyle Jameson
Abdelhamid Sabiri
Layton Ndukwu
José Heriberto Izquierdo Mena
Joe Rodon
James Daly
Joy Mukena
Ederson Santana de Moraes
Callum Hudson-Odoi
Jordan Hugill
Jesé Rodríguez Ruiz
Tyrese Campbell
Antonio Rüdiger
Collin Quaner
Tashan Oakley-Boothe
Nikola Vlasic
Juan Foyth
Joel Coleman
Emerson Palmieri dos Santos
Solomon March
Lewis Dunk
Jon Gorenc Stankovic
Antonio Martinez Lopez
Harvey Barnes
Grzegorz Krychowiak
Sandro Ramírez
Josh Pask
Jack Payne
Philip Billing
Danny Williams
Alfie Whiteman
Conor Masterson
Jiri Skalak
Sead Haksabanovic
Aaron Mooy
Vicente Iborra
Bernardo Mota Veiga de Carvalho e Silva
Mario Lemina
Jason Lokilo
Serge Aurier
Richarlison de Andrade
Lukas Nmecha
Sean Scannell
Trevoh Chalobah
Tomer Hemed
Michael Hefele
Jaroslaw Jach
Brahim Diaz
Tiemoué Bakayoko
Konstantinos Stafylidis
Harry Souttar
Sead Kolasinac
Davy Klaassen
Roque Mesa
Lasse Sorenson
Will Hughes
Ethan Ampadu
Charly Musonda
Rafael Camacho
Connor Mahoney
Dion Henry
Pascal Groß
George Thomas
Jürgen Locadia
Victor Lindelöf
Ahmed El-Sayed Hegazi
Levi Lumeka
Joseph Willock
Alexandre Lacazette
Curtis Jones
Aleksandar Dragovic
Christopher Schindler
Erdal Rakip
Reiss Nelson
Jan Bednarek
João Mário Naval Costa Eduardo
Erwin Mulder
Nathan Trott
Kyle Taylor
Edward Nketiah
Dale Stephens
Bruno Saltor Grau
Terence Kongolo
Kyle Scott
Florian Lejeune
Mathew Ryan
Danilo Luiz da Silva
Marvin Zeegelaar
Beni Baningime
André Carrillo
Kazaiah Sterling
Martin Dubravka
Lucas Rodrigues Moura da Silva
Jairo Riedewald
Jesús Gámez Duarte
Jonas Lössl
Wesley Hoedt
Álvaro Morata
Scott Malone
Ali Gabr
Nathan Ferguson
Jacob Murphy
Rayhaan Tulloch
Niki Mäenpää
Beram Kayal
Dujon Sterling
Francisco Femenía Far
Max Melbourne
Pierre-Emerick Aubameyang
Phil Foden
Uwe Hünemeier
Grady Diangana
Oliver Burke
Alexander Sørloth
Nahki Wells
Steve Mounie
Jack Simpson
Jamie Murphy
Gaëtan Bong
Guido Carrillo
Laurent Depoitre
Ezequiel Schelotto
Moritz Bauer
Tommy Smith
Connor Goldson
Davinson Sánchez
Aymeric Laporte
Ben Johnson
Hamza Choudhury
Florent Hadergjonaj

In [96]:
previous_season_1718_df = pd.concat(previous_season_1718_df_arr)

previous_season_1718_df = previous_season_1718_df.join(
    element_1718_df.set_index(['first_name', 'second_name']),
    on=['first_name', 'second_name'],
    how='inner'
)

previous_season_1718_df = previous_season_1718_df[previous_season_cols]
previous_season_1718_df.head()

,element,season_name,element_code,start_cost,end_cost,total_points,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index
0,245,2015/16,57410,65,65,104,2671,1,0,11,35,0,0,0,9,0,0,15,654,0.0,0.0,0.0,0.0
1,245,2016/17,57410,60,59,100,2592,1,2,9,28,0,0,0,9,0,0,10,640,772.4,125.6,276.0,117.6
0,547,2006/07,1243,45,44,99,2340,0,0,0,39,0,0,0,0,0,85,5,0,0.0,0.0,0.0,0.0
1,547,2007/08,1243,45,50,144,3420,0,0,0,50,0,3,0,2,0,111,12,0,0.0,0.0,0.0,0.0
2,547,2008/09,1243,50,46,148,3420,0,0,0,45,0,2,0,0,0,133,5,0,0.0,0.0,0.0,0.0

In [97]:
utils.write_to_table(
    'fpl',
    'element_previous_seasons_1718',
    previous_season_1718_df,
    secrets_path='../secrets/service_account.json',
    csvs_path='../csvs/',
    write_disposition='WRITE_TRUNCATE'
)

# 2018/19

## Elements

In [101]:
element_1819_df = pd.read_csv('./data/1819/players_raw.csv')

In [102]:
element_1819_df['element'] = element_1819_df['id']
element_1819_df['safe_web_name'] = element_1819_df['web_name'].apply(utils.get_safe_web_name)
element_1819_df['safe_team_name'] = element_1819_df['team'].apply(lambda x: teams_1819[x])

element_1819_df = element_1819_df[[
    'element',
    'safe_web_name',
    'element_type',
    'team',
    'safe_team_name',
    'first_name',
    'second_name'
]]

element_1819_df.head()

,element,safe_web_name,element_type,team,safe_team_name,first_name,second_name
0,1,cech,1,1,arsenal,Petr,Cech
1,2,leno,1,1,arsenal,Bernd,Leno
2,3,koscielny,2,1,arsenal,Laurent,Koscielny
3,4,bellerin,2,1,arsenal,Héctor,Bellerín
4,5,monreal,2,1,arsenal,Nacho,Monreal

In [106]:
utils.write_to_table(
    'fpl',
    'elements_1819',
    element_1819_df,
    secrets_path='../secrets/service_account.json',
    csvs_path='../csvs/',
    write_disposition='WRITE_TRUNCATE'
)

## Previous seasons

In [103]:
previous_season_1819_df_arr = []

for i in os.listdir('./data/1819/players/'):
    first_name = i.split('_')[0]
    second_name = i.split('_')[1]
    try:
        df = pd.read_csv(f'./data/1819/players/{i}/history.csv')
        df['first_name'] = first_name
        df['second_name'] = second_name
        previous_season_1819_df_arr.append(df)
    except:
        print(first_name, second_name)

Martín Montoya
Cameron John
Ivan Cavaleiro
Naby Keita
Andriy Yarmolenko
Alex Smithies
Joe Bryan
Alexandre Nascimento Costa Silva
José Diogo Dalot Teixeira
Viktor Gyokeres
Philippe Sandler
Zeze Steven Sessegnon
Yerry Mina
James Garner
Demeaco Duhaney
Harvey Elliott
Rúben Gonçalo Silva Nascimento Vinagre
Alireza Jahanbakhsh
Lucas Digne
André-Frank Zambo Anguissa
Alisson Ramses Becker
João Filipe Iria Santos Moutinho
Lucas Perri
Joe Powell
Neeskens Kebano
Conor Coventry
Ryan Sessegnon
Arijanet Muric
Joe Tupper
Diego Rico
Nikola Tavares
Josh Knight
Leon Balogun
Aaron Rowe
Fabián Balbuena
Youri Tielemans
Abd-Al-Ali Morakinyo Olaposi Koiki
Matteo Guendouzi
Felipe Anderson Pereira Gomes
Kayne Ramsay
George Marsh
André Filipe Tavares Gomes
Adalberto Peñaranda
Yan Valery
Jean Michael Seri
Pontus Dahlberg
Aboubakar Kamara
David Brooks
Adam Masina
Miguel Almirón
Ricardo Domingos Barbosa Pereira
Mark Travers
Loïc Damour
Kelland Watts
Luciano Vietto
Rafa Mir
Ken Sema
Bernardo Fernandes da Silva Junior
Lee Peltier
Kenneth Zohore
Ryan Schofield
Roderick Jefferson Gonçalves Miranda
Tahith Chong
Sol Bamba
Jefferson Lerma
Ben Wilmot
Florin Andone
Tyreke Johnson
Willy Boly
James Maddison
Kortney Hause
Kadeem Harris
Rui Pedro dos Santos Patrício
Stephan Lichtsteiner
Caglar Söyüncü
Stefan Johansen
Fabian Schär
Jonathan Castro Otto
Lucas Torreira
Joe Ralls
Leander Dendoncker
Sam Woods
Max Meyer
Callum Slattery
Sean Longstaff
Emile Smith-Rowe
Bruno Ecuele Manga
Raúl Jiménez
Bernard Anício Caldeira Duarte
Stuart Armstrong
Çaglar Söyüncü
Max Kilman
Rui Pedro da Rocha Fonte
Luke Amos
Cyrus Christie
Bukayo Saka
Fabio Henrique Tavares
Mason Greenwood
Frederico Rodrigues de Paula Santos
Ibrahima Cissé
Maxime Le Marchand
Gary Madine
Sokratis Papastathopoulos
Josh Benson
Lewis Cass
Zech Medley
Floyd Ayité
Jorge Luiz Frello Filho
Oliver Skipp
Gonzalo Higuaín
Omar Bogle
Hélder Costa
Callum Roberts
Vicente Guaita
Erik Durm
Víctor Camarasa
Mateo Kovacic
Diogo Jota
Ryan John Giles
Rúben Diogo da Silva Neves
Isaac Mbenza
Nathaniel Mendez-Laing
Juninho Bacuna
Anthony Driscoll-Glennon
Yves Bissouma
Timothy Eyoma
Fabricio Agosto Ramírez
Issa Diop
Rachid Ghezzal
Kepa Arrizabalaga
Jannik Vestergaard
Max Sanders
Will Norris
Adama Diakhaby
Chris Mepham
Bonatini Lohner Maia Bonatini
Filip Benkovic
Barry Douglas
Alfie Jones
Bernd Leno
Antonio Barreca
Romain Saïss
Denis Odoi
Sergio Rico
Karlan Grant
Callum Paterson
Luca De La Torre
Marc Navarro
Mohamed Elyounoussi
Nnamdi Ofoborh
Yoshinori Muto
Ben White
Morgan Gibbs-White
Matthew Daly
Addji Keaninkin Marc-Israel Guehi
Bright Enobakhare
Bobby Reid

In [104]:
previous_season_1819_df = pd.concat(previous_season_1819_df_arr)

previous_season_1819_df = previous_season_1819_df.join(
    element_1819_df.set_index(['first_name', 'second_name']),
    on=['first_name', 'second_name'],
    how='inner'
)

previous_season_1819_df = previous_season_1819_df[previous_season_cols]
previous_season_1819_df.head()

,element,season_name,element_code,start_cost,end_cost,total_points,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index
0,55,2014/15,83543,55,50,13,335,0,0,1,4,0,0,0,0,0,0,0,38,0.0,0.0,0.0,0.0
1,55,2015/16,83543,45,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,55,2017/18,83543,60,55,88,2415,3,1,11,29,0,0,0,4,1,0,6,383,404.0,557.2,530.0,149.1
0,163,2015/16,56192,45,41,36,1085,1,1,1,15,0,0,0,1,0,0,1,223,0.0,0.0,0.0,0.0
1,163,2016/17,56192,45,43,31,592,0,0,3,6,0,0,0,0,0,0,5,140,94.2,114.7,20.0,22.7

In [105]:
utils.write_to_table(
    'fpl',
    'element_previous_seasons_1819',
    previous_season_1819_df,
    secrets_path='../secrets/service_account.json',
    csvs_path='../csvs/',
    write_disposition='WRITE_TRUNCATE'
)