# Set up

In [2]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Getting data

In [3]:
with open('../csvs/top_50_weekly_data.json') as f: 
    d = json.loads(f.read())

In [4]:
len(d)

1900

# Analysis

In [40]:
df = pd.DataFrame(
    [(
        i['entry_history']['event'],
        i['entry_history']['entry'],
        i['entry_history']['points'] - i['entry_history']['event_transfers_cost'],
        i['active_chip'],
        
     )
     for i in d],
    columns=['event', 'entry', 'points', 'chip'])

df['no_chip'] = df['chip'].apply(lambda x: 1 if x == '' else 0)
df['triple_captain'] = df['chip'].apply(lambda x: 1 if x == '3xc' else 0)
df['free_hit'] = df['chip'].apply(lambda x: 1 if x == 'freehit' else 0)
df['bench_boost'] = df['chip'].apply(lambda x: 1 if x == 'bboost' else 0)

df.head()

   event   entry  points chip  no_chip  triple_captain  free_hit  bench_boost
0      1  107827      75             1               0         0            0
1      2  107827      99             1               0         0            0
2      3  107827      46             1               0         0            0
3      4  107827      61             1               0         0            0
4      5  107827      98             1               0         0            0

In [65]:
df[df['triple_captain'] == 1].groupby('event').size()

event
2      1
10     1
17     1
25    13
32     1
34     1
36    29
37     1
38     2
dtype: int64

In [67]:
df[df['event'].isin([25, 36])].groupby('triple_captain')['points'].describe()

                count        mean        std   min    25%    50%    75%    max
triple_captain
0                58.0   91.534483  16.136714  52.0  82.50   91.0  103.0  121.0
1                42.0  107.761905  16.661346  65.0  98.25  109.5  120.0  136.0

In [78]:
109 - 91

18

In [70]:
df[df['bench_boost'] == 1].groupby('event').size()

event
7      1
35    48
36     1
dtype: int64

In [72]:
df[df['bench_boost'] == 1]['event']


df[df['event'].isin([7, 35, 36])].groupby('bench_boost')['points'].describe()

             count    mean        std   min     25%    50%     75%    max
bench_boost
0            100.0   84.17  23.627178  47.0   64.75   79.5  103.75  136.0
1             50.0  110.04  13.810614  76.0  102.00  109.5  119.75  139.0

In [77]:
109-79

30

In [74]:
df[df['free_hit'] == 1].groupby('event').size()

event
23     1
31     1
32    48
dtype: int64

In [75]:
df[df['free_hit'] == 1]['event']


df[df['event'].isin([23, 31, 32])].groupby('free_hit')['points'].describe()

          count   mean        std   min    25%   50%    75%    max
free_hit
0         100.0  53.44  22.398737   9.0  34.75  58.0   73.0  109.0
1          50.0  98.68  14.082034  38.0  92.00  97.5  109.0  123.0

In [79]:
97-58

39