# Set up

In [5]:
import pandas as pd
import json

# Getting data

In [10]:
with open('../csvs/top_50_weekly_data.json') as f:
    top_data = json.load(f)

In [17]:
top_df = pd.DataFrame([i['entry_history'] for i in top_data])
top_df.head()

,bank,entry,event,event_transfers,event_transfers_cost,id,movement,overall_rank,points,points_on_bench,rank,rank_sort,targets,total_points,value
0,0,107827,1,0,0,107827,new,405969,75,14,405969,407825,None,75,1000
1,0,107827,2,1,0,4664139,new,80980,99,1,66206,66330,None,174,1004
2,5,107827,3,1,0,9773353,new,116116,46,5,3347696,3348830,None,220,1011
3,18,107827,4,2,4,15147223,new,55041,65,17,220533,220740,None,281,1017
4,18,107827,5,0,0,20652163,new,2687,98,11,11172,11215,None,379,1023

In [51]:
top_entry = top_df[(top_df['event'] == 38)
                   & (top_df['overall_rank'] == 1)]['entry'].iloc[0]

In [52]:
top_df_test = top_df.copy()
top_df_test = top_df_test[top_df_test['event'] > 20]

In [53]:
top_df_test.groupby('entry')['points'].sum().mean()

1242.54

In [58]:
top_df_test.groupby('entry')['points'].sum().max()

1347

In [54]:
top_entry_df_test = top_df_test.copy()
top_entry_df_test = top_entry_df_test[top_entry_df_test['entry'] == top_entry]

top_entry_df_test['points'].sum()

1341

In [66]:
top_df_test.groupby('entry')[['points']].sum().sort_values('points', ascending=False).reset_index(drop=True)

    points
0     1347
1     1341
2     1317
3     1306
4     1304
5     1304
6     1300
7     1294
8     1274
9     1269
10    1269
11    1268
12    1265
13    1261
14    1260
15    1259
16    1258
17    1255
18    1249
19    1247
20    1246
21    1244
22    1243
23    1242
24    1239
25    1239
26    1238
27    1235
28    1234
29    1233
30    1229
31    1229
32    1229
33    1227
34    1227
35    1225
36    1219
37    1215
38    1214
39    1212
40    1209
41    1200
42    1195
43    1194
44    1194
45    1187
46    1185
47    1172
48    1163
49    1162

In [55]:
entry_df = pd.DataFrame([i['event'] for i in top_data[20:38]])

In [56]:
entry_df['average_entry_score'].sum()

920

In [57]:
entry_df['highest_score'].sum()

2393

In [59]:
top_df_test.groupby('entry')['value'].mean().mean()

1057.7522222222224